:root {
    --myred: #914d76;
    --myblue: #035e7b;
}
* {
    font-family: Helvetica, Arial, sans-serif;
}
h1 {
    text-align: center;
}

header {
    margin: 0px;
    padding: 0px;
    color: #914d76;
}
object {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a:link,
a:visited {
    color: var(--myblue);
}